#root{
  height: 100%;
  width: 100%;
}

button{
  margin-right: 2px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
  color: #fff;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  color: #fff;
  text-align: center;
  justify-self: center;
}

.site-layout .site-layout-background {
  background: #fff;
}

